body {
  font-size: 100%;
  height: 100vh;
  background-color: black;
  color: #ffffff;
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #2580cf;
}

.navbar {
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
            color: white;
        }

footer {
  font-size: 80%;
  margin-bottom: 0;
  background-color: black;
  color: #ffffff;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
  }
/*------------------------LOGIN.HTML. REGISTER.HTML------------------------*/

.form-center {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    max-width: 400px;
    justify-content: center;
    color: #ffffff;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group {
    margin-bottom: 0.5rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #282828;
    color: #fff;
}

.form__input:focus {
    border-color: var(--color-primary);
}


/* ----------------------------------- */
input[type=text]:focus~ .floating-label,
input[type=text]:not(:focus):valid~.floating-label {
    padding: 2px;
    top: 8px;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    opacity: 1;
    color: #ffffff;
}

input[type=password]:focus~ .floating-label,
input[type=password]:not(:focus):valid~.floating-label {
    padding: 2px;
    top: 0px;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    opacity: 1;
    color: #ffffff;
}


.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 20px;
  transition: 0.2s ease all;
  color: #867979;
}

.form__input-group {
  position: relative; /*  make label relate to div  */
  padding-top: 10px;  /*  make space for label      */
}
/* ----------------------------------- */


.input-group-addon i {
    margin-top: 15px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    font-size: large;
    /* color: #6c757d; */
    color: #ffffff;
  }

#togglePassword {display: none}

#togglePassword:hover {
    color: #ffffff;
}

.form__button {
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:disabled {
    opacity: 20%;
}

.form__text {
    color:#ffffff;
}
.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}



/*------------------------GAME.HTML------------------------*/

#game-board {
  background-color: black;
}

.row {
  /* display: none; */
  display: value;
  padding-bottom: 0.1rem;
}

.category {
  /* justify-self: center; */
  text-align: center;
  width: 100%;
  height: 15vh;
  padding: 0.2rem;
  background-color: darkblue;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
}

.category span {
  color: white;
  font-size: calc(5px + 0.6vw + 0.7vh);
  font-weight: bold;
  transform: translateY(0%);
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.question {
  padding: 0.2rem;
  justify-self: center;
  background-color: darkblue;
  width: 100%;
  height: 12vh;
}

.score { color: white}

/* BUTTONS */
.qbutton {
  justify-self: center;
  width: 100%;
  background-color: darkblue;
  color: yellow;
  font-size: 3vw;
  font-weight: bold;
}


/* MODAL */
#myModal
    .modal-content {
        justify-content: center;
        font-size:calc(18px + 0.5vw);
        height: 50vh;
        width: calc(500px + 10vw);
        background-color: darkblue;
        color: #FFFFFF;
    }
    .modal-title {
        font-size:calc(15px + 1.5vw);
    }
    .modal-answer {
        display: none;
    }
    #question-timer {
        color: yellow;
        margin-left: auto;
    }
    .message {
        display: none;
        font-size: 16px;
        text-align: left;
    }





/***************************************************************************************
*    Title: <title of program/source code>
*    Author: <author(s) names>
*    Date: 3/25/022
*    Availability: https://www.w3schools.com/howto/howto_js_autocomplete.asp
*
***************************************************************************************/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    margin-left: auto;
    display: inline-block;
    }
    input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    }
    input[type=text] {
    background-color: #282828;
    width: 100%;
    color: #fff;
    }
    input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    }
    .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-size: 16px;
    }
    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #282828;
    border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: black;
    }
    .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
    }


