{% include "header.html" %}
<!--Temporary Placement Open-->
<a class="start_round" href="#">START ROUND</a>
<h1>$<span id="player-score">0</span></h1>
<!--Temporary Placement Close-->


<div class="container" id="game-board">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Modal title</h5>
                    <h5 class="modal-title" id="question-timer">:<span>30</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <p class="modal-question">Value Here</p>
                        <p class="modal-answer">Value Here</p>
                </div>

                <form autocomplete="off" id="answerForm">
                    <div class="autocomplete" style="width:300px;">
                      <input id="myInput" type="text" name="myAnswer" placeholder="Enter your Answer">
                        <p id="message">You've guessed correctly!</p>
                    </div>
                    <input type="submit" id="submit">
                </form>

                <div class="modal-footer">
<!--                    <h1>(INSERT PLAYER INFO)</h1>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="0" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="1" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="2" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="3" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="4" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="1"
                    data-column="5" data-backdrop="static" data-keyboard="false">$200
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="qbutton" data-row="2"
                    data-column="0" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="1" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="2" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="3" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="4" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="5" data-backdrop="static" data-keyboard="false">$400
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="0" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="1" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="2" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="3" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="4" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="5" data-backdrop="static" data-keyboard="false">$600
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="0" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="1" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="2" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="3" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="4" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="5" data-backdrop="static" data-keyboard="false">$800
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="0" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="1" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="2" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="3" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="4" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="qbutton" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="5" data-backdrop="static" data-keyboard="false">$1000
            </button>
        </div>
    </div>
</div>


    <!-- Javascript  -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

