{% include "header.html" %}

<a class="start_round" href="#">START ROUND</a>
<div class="container" id="game-board">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Modal title</h5>
                    <h5 class="modal-title"id="question-timer">:<span>30</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p class="modal-question">Value Here</p>
                        <p class="modal-answer">Value Here</p>
                    </div>
                </div>

                <div class="row">
                <div class="answer-form form-group">
                    <input type="text" class="form__input" name="username" autofocus placeholder="Enter your answer">
                    <button class="form__button" type="Submit">SUBMIT</button>
                </div>
                </div>

                <div class="modal-footer">
                    <h1>(INSERT PLAYER INFO)</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
        <div class="col-2 category"><span>N/A</span></div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="0">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="1">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="2">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="3">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="4">$200
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="1"
                    data-column="5">$200
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="0">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="1">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="2">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="3">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="4">$400
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="2"
                    data-column="5">$400
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="0">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="1">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="2">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="3">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="4">$600
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="3"
                    data-column="5">$600
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="0">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="1">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="2">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="3">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="4">$800
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="4"
                    data-column="5">$800
            </button>
        </div>
    </div>
    <!-- Row of Questions -->
    <div class="row">
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="0">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="1">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="2">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="3">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="4">$1000
            </button>
        </div>
        <div class="col-2 question">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal" data-row="5"
                    data-column="5">$1000
            </button>
        </div>
    </div>
</div>


<!--    &lt;!&ndash; Javascript  &ndash;&gt;-->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!--    &lt;!&ndash;    Boostrap 4&ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"-->
<!--            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"-->
<!--            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--            crossorigin="anonymous"></script>-->

<!--&lt;!&ndash;    Bootstrap 5&ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
