{% include "header.html" %}


<div class="form-center">
    <form action="" class="form-center" id="login" >
        <h1 class="form__title">Login</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" name="username" autofocus placeholder="Username or email">
        </div>
        <div class="form__input-group">
            <input type="password" class="form__input" name="password" autofocus placeholder=Password">
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text text-center">
            <a href="#" class="form__link">Forgot your password?</a>
        </p>
        <p class="form__text text-center">
            <a class="form__link" id="linkCreateAccount">Don't have an account? Create account</a>
        </p>
    </form>
</div>

