{% include "header.html" %}


<div class="form-center">
    <form action="{{ url_for('register') }}" method="post" class="form-center" id="register" >
        <h1 class="form__title">Register</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" name="email" id="email" required>
            <span class="floating-label">Email</span>
            <p class="message" id="emailMessage">Please Enter a value</p>
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="username" id="username" required>
            <span class="floating-label">Username</span>
            <p class="message" id="userMessage">Please Enter a value</p>
        </div>
        <div class="form__input-group" >
            <div class="input-group">
                <input type="password" class="form__input" name="password" id="password" onfocus="showIcon(this)" required>
                <span class="floating-label">Password</span>
                <div class="input-group-addon">
                    <i class="fa-solid fa-eye" id="togglePassword"></i>
                </div>
            </div>
            <p class="message" id="passwordMessage">Please enter a value</p>
        </div>
        <button class="form__button" type="submit">Create Account</button>
        <p class="form__text text-center">
            <span>Already have an account?</span>
            <a href="{{ url_for('register') }}" class="form__link">Log In</a>
        </p>
    </form>
</div>

<!-- Modal -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                        <p>Passwords must meet the following requirements:</p>
                        <ul class="requirements">
                            <li id="upper">Has at least one uppercase letter</li>
                            <li id="lower">Has at least one lowercase letter</li>
                            <li id="digit">Has at least one digit</li>
                            <li id="special">Has at least one special character ($, %, @...)</li>
                            <li id="min8">Is at least 8 characters long</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

<!-- Javascript  -->
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>